Repository riderflo85/gardenIQ-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-json, end-of-file-fixer, flake8, isort, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
        args: [--force-exclude, gardeniq]

      - id: check-json
        name: Check Json
        description: checks json files for parseable syntax.
        entry: check-json
        language: system
        types: [json]

      - id: end-of-file-fixer
        name: Fix End of Files
        description: ensures that a file is either empty, or ends with one newline.
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
        exclude: '^.*/migrations/.*$'

      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true

      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        exclude: '^.*/migrations/.*$'

      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        description: trims trailing whitespace, except for markdown files.
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
        exclude: '^.*/migrations/.*$'
        args: [--markdown-linebreak-ext=md]

(TK-37)(feature) - Update dependencies
  Pipfile.lock
  requirements.txt
  requirements_dev.txt
Due: end-of-file-fixer, trailing-whitespace

(TK-37)(feature) - Create base, mixins and orderlg views
  gardeniq/base/views.py
  gardeniq/base/views/__init__.py
  gardeniq/base/views/base.py
  gardeniq/base/views/mixins.py
  gardeniq/orderlg/views.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-37)(feature) - Create ArgumentReadOnlySerializer
  gardeniq/orderlg/serializers/__init__.py
  gardeniq/orderlg/serializers/arguments.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-37)(feature) - Create ToggleObjectRouter and create urls to orderlg endpoint
  gardeniq/base/routers.py
  gardeniq/orderlg/api_urls.py
  gardeniq/urls.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-37)(feature) - Rollback django rest framework settings to disable authentification endpoint
  gardeniq/settings/dev.py
  gardeniq/settings/third_party/rest_framework.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-37)(feature) - Add tests for ArgumentReadOnlySerializer and update gitignore
  .gitignore
  gardeniq/orderlg/tests/tests_serializers/test_argument.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-37)(feature) - Improve orderlg module naming consistency and remove unused test file
  gardeniq/base/utils/__init__.py
  gardeniq/base/utils/tests.py
  gardeniq/orderlg/api_urls.py
  gardeniq/orderlg/tests.py
  gardeniq/orderlg/tests/tests_views/__init__.py
  gardeniq/orderlg/tests/tests_views/test_arguments.py
  gardeniq/orderlg/views.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-37)(feature) - Add OrderAPIModelView unit tests and fix queryset implementation
  gardeniq/orderlg/tests/tests_views/test_orders.py
  gardeniq/orderlg/views.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-35)(feature) - Add drf-spectacular for API documentation generation
  Pipfile
  Pipfile.lock
  requirements_dev.txt
Due: end-of-file-fixer, trailing-whitespace

(TK-35)(feature) - Configure drf-spectacular with Swagger UI and ReDoc endpoints
  gardeniq/settings/dev.py
  gardeniq/settings/django/apps.py
  gardeniq/settings/third_party/rest_framework.py
  gardeniq/settings/third_party/spectacular.py
  gardeniq/urls.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-41)(feature) - Create usb protocol. Parser and handler
  .env.example
  Pipfile
  Pipfile.lock
  docker/prod/.env.example
  gardeniq/__version__.py
  gardeniq/base/utils/__init__.py
  gardeniq/base/utils/enums.py
  gardeniq/hardware/protocols/__init__.py
  gardeniq/hardware/protocols/errors.py
  gardeniq/hardware/protocols/frame.py
  gardeniq/hardware/protocols/settings.py
  gardeniq/hardware/protocols/usb/__init__.py
  gardeniq/hardware/protocols/usb/handler.py
  gardeniq/hardware/protocols/usb/parser.py
  gardeniq/orderlg/models.py
  gardeniq/orderlg/serializers/arguments.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-41)(feature) - Add new Status model views and serializers
  gardeniq/base/api_urls.py
  gardeniq/base/models/__init__.py
  gardeniq/base/models/mixins.py
  gardeniq/base/models/status.py
  gardeniq/base/serializers/__init__.py
  gardeniq/base/serializers/mixins.py
  gardeniq/base/serializers/status.py
  gardeniq/base/views/__init__.py
  gardeniq/base/views/status.py
  gardeniq/urls.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-41)(feature) - Oups missing migrations
  gardeniq/base/migrations/0001_initial.py
  gardeniq/orderlg/migrations/0002_alter_argument_value_type.py
Due: black, flake8

(TK-41)(feature) - Add tests for Status model
  gardeniq/base/serializers/status.py
  gardeniq/base/tests/tests_serializers/__init__.py
  gardeniq/base/tests/tests_serializers/test_status.py
  gardeniq/base/tests/tests_views/__init__.py
  gardeniq/base/tests/tests_views/test_status.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-41)(feature) - Add StatusSeeder
  gardeniq/base/fixtures/seeders/__init__.py
  gardeniq/base/fixtures/seeders/base.py
  gardeniq/base/fixtures/seeders/status.py
  gardeniq/base/fixtures/sources/status.json
  gardeniq/base/tests/test_commands.py
  gardeniq/base/tests/test_seeders.py
  gardeniq/orderlg/fixtures/seeders/argument.py
  gardeniq/orderlg/fixtures/seeders/order.py
Due: black, check-json, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-41)(feature) - Add hardware device model, API and serial port validation
  gardeniq/base/serializers/mixins.py
  gardeniq/hardware/api_urls.py
  gardeniq/hardware/migrations/0001_initial.py
  gardeniq/hardware/models.py
  gardeniq/hardware/serializers/__init__.py
  gardeniq/hardware/serializers/device.py
  gardeniq/hardware/tests/__init__.py
  gardeniq/hardware/tests/tests_serializers/__init__.py
  gardeniq/hardware/tests/tests_serializers/test_device.py
  gardeniq/hardware/tests/tests_views/__init__.py
  gardeniq/hardware/tests/tests_views/test_device.py
  gardeniq/hardware/views.py
  gardeniq/settings/project/cards.py
  gardeniq/urls.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-41)(feature) - Clarify module exports with __all__ and explicit imports
  gardeniq/base/api_urls.py
  gardeniq/hardware/api_urls.py
  gardeniq/orderlg/api_urls.py
  gardeniq/settings/base.py
  gardeniq/settings/project/cards.py
  gardeniq/settings/project/status.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-41)(feature) - Add GardenIQ firmware repository configuration variable
  .env.example
  docker/dev/.env.example
  docker/prod/.env.example
Due: end-of-file-fixer, trailing-whitespace

(TK-41)(feature) - Add version comparison class and firmware version helpers
  gardeniq/__version__.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-41)(feature) - Implement firmware update tracking in Device model and USB handler
  gardeniq/hardware/migrations/0001_initial.py
  gardeniq/hardware/models.py
  gardeniq/hardware/protocols/usb/handler.py
  gardeniq/settings/project/status.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-41)(feature) - Update dependencies
  Pipfile.lock
  requirements.txt
  requirements_dev.txt
Due: end-of-file-fixer, trailing-whitespace

(TK-41)(feature) - Update github CI to add new vars env
  .github/workflows/ci.yml
Due: end-of-file-fixer, trailing-whitespace

(TK-41)(feature) - Update BaseConfig class to import versions when running application
  gardeniq/base/apps.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-41)(feature) - Update test to add new need_upgrade Device field
  gardeniq/hardware/serializers/device.py
  gardeniq/hardware/tests/tests_serializers/test_device.py
  gardeniq/hardware/tests/tests_views/test_device.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-41)(feature) - Add new tests for Device model
  gardeniq/hardware/tests.py
  gardeniq/hardware/tests/tests_models/__init__.py
  gardeniq/hardware/tests/tests_models/test_device.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-41)(feature) - Add tests for version ordering, validation, and API functions
  gardeniq/base/tests/test_versions.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-41)(feature) - Add frame protocol unit tests
  gardeniq/hardware/tests/tests_protocols/__init__.py
  gardeniq/hardware/tests/tests_protocols/test_frame.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-41)(feature) - Refactor frame tests into class-based structure for clarity
  gardeniq/hardware/tests/tests_protocols/test_frame.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-41)(feature) - Add new test to FrameParser
  gardeniq/hardware/tests/tests_protocols/tests_parsers/__init__.py
  gardeniq/hardware/tests/tests_protocols/tests_parsers/test_frame_parser.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace
