Repository riderflo85/gardenIQ-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-json, end-of-file-fixer, flake8, isort, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  require_serial: true
  args:
  - --force-exclude
  - gardeniq

check-json:
  name: Check Json
  description: checks json files for parseable syntax.
  entry: check-json
  language: system

end-of-file-fixer:
  name: Fix End of Files
  description: ensures that a file is either empty, or ends with one newline.
  entry: end-of-file-fixer
  language: system
  stages:
  - pre-commit
  - pre-push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

isort:
  name: isort
  entry: isort
  language: system

trailing-whitespace:
  name: Trim Trailing Whitespace
  description: trims trailing whitespace, except for markdown files.
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - pre-commit
  - pre-push
  - manual
  args:
  - --markdown-linebreak-ext=md

(TK-38) - (refactor) - run hook
  Pipfile
  Pipfile.lock
  gardeniq/base/serializers/bases.py
  gardeniq/base/utils/tests.py
  gardeniq/settings/base.py
  gardeniq/settings/django/auth.py
  gardeniq/settings/third_party/knox.py
  gardeniq/users/admin.py
  gardeniq/users/api_urls.py
  gardeniq/users/models.py
  gardeniq/users/serializers/__init__.py
  gardeniq/users/serializers/groups.py
  gardeniq/users/serializers/permissions.py
  gardeniq/users/serializers/users.py
  gardeniq/users/tests/tests_serializers/test_groups.py
  gardeniq/users/tests/tests_serializers/test_permissions.py
  gardeniq/users/tests/tests_serializers/test_users.py
  gardeniq/users/tests/tests_views/test_auth.py
  gardeniq/users/tests/tests_views/test_users.py
  gardeniq/users/views/auth.py
  gardeniq/users/views/users.py
  manage.py
  requirements.txt
  requirements_dev.txt
  start_usb_docker.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-38) - (update) - Update dependencies in requirements files
  Pipfile.lock
  requirements.txt
  requirements_dev.txt
Due: end-of-file-fixer, trailing-whitespace

(TK-38) - (fix) - Update tests to use authenticated client for status and device APIs
  gardeniq/base/tests/tests_views/test_status.py
  gardeniq/hardware/tests/tests_views/test_device.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-38) - (refactor) - use BaseAPIModelViewSet in UserAPIModelView
  gardeniq/users/views/users.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-38) - (refactor) - Update tests for GroupSerializer and PermissionSerializer to inherit ViewSetTestMixin and use pytest
  gardeniq/users/tests/tests_serializers/test_groups.py
  gardeniq/users/tests/tests_serializers/test_permissions.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-38) - (feature) - Add schema documentation for the AuthToken serializer in the connection view
  gardeniq/users/views/auth.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-38) - (refactor) - Simplify password validation logic and improve user serializer structure
  gardeniq/users/serializers/users.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-38) - (refactor) - Update permissions for retrieve and update actions in UserAPIModelView
  gardeniq/users/views/users.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-38) - (refactor) - Replace group and permission serializers with their read-only versions
  gardeniq/users/serializers/groups.py
  gardeniq/users/serializers/permissions.py
  gardeniq/users/serializers/users.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-38) - (refactor) - Move http_method_names definition in BaseAPIModelViewSet
  gardeniq/base/views/base.py
  gardeniq/users/views/users.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-38) - (refactor) - Replace ToggleObjectRouter with DefaultRouter in api_urls.py
  gardeniq/users/api_urls.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-38) - (refactor) - Update UserSerializer to inherit from BaseSerializer
  gardeniq/users/serializers/users.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-38) - (update) - Adding the unique email field to the CustomUser model
  gardeniq/users/models.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-38) - (refactor) - Replace group and permission serializers with their read-only versions
  gardeniq/users/serializers/__init__.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-38) - (update) - Update tests to use GroupReadOnlySerializer and PermissionReadOnlySerializer
  gardeniq/users/tests/tests_serializers/test_groups.py
  gardeniq/users/tests/tests_serializers/test_permissions.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-38) - (fix) - Expect 405 for partial update tests as PATCH is disabled
  gardeniq/base/tests/tests_views/test_status.py
  gardeniq/hardware/tests/tests_views/test_device.py
  gardeniq/orderlg/tests/tests_views/test_arguments.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

Update all dependencies
  Pipfile
  Pipfile.lock
  requirements.txt
  requirements_dev.txt
Due: end-of-file-fixer, trailing-whitespace

Fix error with django-extensions version
  Pipfile
  Pipfile.lock
  requirements_dev.txt
Due: end-of-file-fixer, trailing-whitespace

Update all dependencies (#10)
  Pipfile
  Pipfile.lock
  requirements.txt
  requirements_dev.txt
Due: end-of-file-fixer, trailing-whitespace

(TK-57)(enh) - Remove Argument model, serializers and views
  gardeniq/orderlg/admin.py
  gardeniq/orderlg/api_urls.py
  gardeniq/orderlg/fixtures/seeders/__init__.py
  gardeniq/orderlg/fixtures/seeders/argument.py
  gardeniq/orderlg/fixtures/seeders/order.py
  gardeniq/orderlg/fixtures/sources/arguments.json
  gardeniq/orderlg/models/__init__.py
  gardeniq/orderlg/models/argument.py
  gardeniq/orderlg/models/order.py
  gardeniq/orderlg/serializers/__init__.py
  gardeniq/orderlg/serializers/arguments.py
  gardeniq/orderlg/serializers/order.py
  gardeniq/orderlg/views/__init__.py
  gardeniq/orderlg/views/order.py
Due: black, check-json, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-57)(enh) - Refacto all tests to remove Argument references
  gardeniq/base/tests/test_commands.py
  gardeniq/base/tests/test_seeders.py
  gardeniq/orderlg/tests/test_seeders.py
  gardeniq/orderlg/tests/tests_models/test_argument.py
  gardeniq/orderlg/tests/tests_models/test_order.py
  gardeniq/orderlg/tests/tests_serializers/test_argument.py
  gardeniq/orderlg/tests/tests_serializers/test_order.py
  gardeniq/orderlg/tests/tests_views/test_arguments.py
  gardeniq/orderlg/tests/tests_views/test_orders.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-57)(enh) - Remove alter_argument migration file and refacto first migration of orderlg service
  gardeniq/orderlg/migrations/0001_initial.py
  gardeniq/orderlg/migrations/0002_alter_argument_value_type.py
Due: black, flake8

(TK 57)(enh) remove argument model (#11)
  gardeniq/base/tests/test_commands.py
  gardeniq/base/tests/test_seeders.py
  gardeniq/orderlg/admin.py
  gardeniq/orderlg/api_urls.py
  gardeniq/orderlg/fixtures/seeders/__init__.py
  gardeniq/orderlg/fixtures/seeders/argument.py
  gardeniq/orderlg/fixtures/seeders/order.py
  gardeniq/orderlg/fixtures/sources/arguments.json
  gardeniq/orderlg/migrations/0001_initial.py
  gardeniq/orderlg/migrations/0002_alter_argument_value_type.py
  gardeniq/orderlg/models/__init__.py
  gardeniq/orderlg/models/argument.py
  gardeniq/orderlg/models/order.py
  gardeniq/orderlg/serializers/__init__.py
  gardeniq/orderlg/serializers/arguments.py
  gardeniq/orderlg/serializers/order.py
  gardeniq/orderlg/tests/test_seeders.py
  gardeniq/orderlg/tests/tests_models/test_argument.py
  gardeniq/orderlg/tests/tests_models/test_order.py
  gardeniq/orderlg/tests/tests_serializers/test_argument.py
  gardeniq/orderlg/tests/tests_serializers/test_order.py
  gardeniq/orderlg/tests/tests_views/test_arguments.py
  gardeniq/orderlg/tests/tests_views/test_orders.py
  gardeniq/orderlg/views/__init__.py
  gardeniq/orderlg/views/order.py
Due: black, check-json, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-61)(feat) - Create models folder, move Device into and create new pins, sensors, controllers and mixins models
  gardeniq/hardware/models/__init__.py
  gardeniq/hardware/models/controller.py
  gardeniq/hardware/models/device.py
  gardeniq/hardware/models/mixins.py
  gardeniq/hardware/models/pin.py
  gardeniq/hardware/models/sensor.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-61)(feat) - Create serializers for new models
  gardeniq/base/serializers/__init__.py
  gardeniq/base/serializers/bases.py
  gardeniq/hardware/serializers/__init__.py
  gardeniq/hardware/serializers/controller.py
  gardeniq/hardware/serializers/device.py
  gardeniq/hardware/serializers/mixins.py
  gardeniq/hardware/serializers/pin.py
  gardeniq/hardware/serializers/sensor.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-61)(feat) - Create new views with urls for new models
  gardeniq/base/views/base.py
  gardeniq/hardware/api_urls.py
  gardeniq/hardware/views/__init__.py
  gardeniq/hardware/views/controller.py
  gardeniq/hardware/views/device.py
  gardeniq/hardware/views/pin.py
  gardeniq/hardware/views/sensor.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-61)(feat) - Add django admin part for new models
  gardeniq/hardware/admin.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-61)(feat) - Update Order object to add many fields.
  gardeniq/orderlg/admin.py
  gardeniq/orderlg/models/order.py
  gardeniq/orderlg/serializers/order.py
  gardeniq/orderlg/views/order.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-61)(feat) - Add all news migrations
  gardeniq/base/migrations/0002_alter_status_options.py
  gardeniq/hardware/migrations/0002_channel_controllercategory_sensorcategory_and_more.py
  gardeniq/orderlg/migrations/0002_alter_order_options_order_controller_and_more.py
  gardeniq/users/migrations/0002_alter_customuser_email.py
Due: black, flake8

(TK-61)(feat) - Add new tests and fix some tests
  gardeniq/base/serializers/bases.py
  gardeniq/hardware/tests/tests_models/test_controller.py
  gardeniq/hardware/tests/tests_models/test_device.py
  gardeniq/hardware/tests/tests_models/test_pin.py
  gardeniq/hardware/tests/tests_models/test_sensor.py
  gardeniq/hardware/tests/tests_serializers/test_controller.py
  gardeniq/hardware/tests/tests_serializers/test_pin.py
  gardeniq/hardware/tests/tests_serializers/test_sensor.py
  gardeniq/hardware/tests/tests_views/test_controller.py
  gardeniq/hardware/tests/tests_views/test_pin.py
  gardeniq/hardware/tests/tests_views/test_sensor.py
  gardeniq/hardware/views/pin.py
  gardeniq/orderlg/tests/tests_models/test_order.py
  gardeniq/orderlg/tests/tests_serializers/test_order.py
  gardeniq/orderlg/tests/tests_views/test_orders.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-61)(feat) - Comment test to validate CI but not to be merge actualy
  gardeniq/base/tests/test_commands.py
  gardeniq/base/tests/test_seeders.py
  gardeniq/orderlg/tests/test_seeders.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-72)(bugfix) - Create SeederMixin for model and serializers to add two seeder fields
  gardeniq/base/fixtures/seeders/base.py
  gardeniq/base/models/__init__.py
  gardeniq/base/models/mixins.py
  gardeniq/base/serializers/mixins.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-72)(bugfix) - Update Status object to add new seeder fields and update tests
  gardeniq/base/admin.py
  gardeniq/base/migrations/0003_status_is_ready_status_seed_id.py
  gardeniq/base/models/status.py
  gardeniq/base/serializers/__init__.py
  gardeniq/base/serializers/status.py
  gardeniq/base/tests/tests_models/test_status.py
  gardeniq/base/tests/tests_serializers/test_status.py
  gardeniq/base/tests/tests_views/test_status.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-72)(bugfix) - Update Status seeder
  gardeniq/base/fixtures/seeders/status.py
  gardeniq/base/fixtures/sources/status.json
  gardeniq/base/tests/test_seeders.py
Due: black, check-json, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-72)(bugfix) - Update Order object to add new Seeder fields and fix issue with seeder import feature and order object
  gardeniq/orderlg/admin.py
  gardeniq/orderlg/fixtures/seeders/order.py
  gardeniq/orderlg/fixtures/sources/orders.json
  gardeniq/orderlg/models/order.py
  gardeniq/orderlg/serializers/__init__.py
  gardeniq/orderlg/serializers/order.py
Due: black, check-json, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-72)(bugfix) - Add migration file
  gardeniq/orderlg/migrations/0003_remove_order_check_order_action_type_sensor_controller_and_more.py
Due: black, flake8

(TK-72)(bugfix) - Update the seeder feature to replace seed_id json field to a real id of related object
  gardeniq/base/fixtures/seeders/base.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-72)(bugfix) - Missing mixin to Order detail and list serializers
  gardeniq/orderlg/serializers/order.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-72)(bugfix) - Update order tests
  gardeniq/orderlg/tests/test_seeders.py
  gardeniq/orderlg/tests/tests_models/test_order.py
  gardeniq/orderlg/tests/tests_serializers/test_order.py
  gardeniq/orderlg/tests/tests_views/test_orders.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

Path conditions:
  black: any of: \.py$
  check-json: any of: \.json$
  end-of-file-fixer: any file but: ^.*/migrations/.*$
  flake8: any of: \.py$
  isort: any of: \.py$, but not: ^.*/migrations/.*$
  trailing-whitespace: any file but: ^.*/migrations/.*$
