Repository riderflo85/gardenIQ-back: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-json, end-of-file-fixer, flake8, isort, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  require_serial: true
  args:
  - --force-exclude
  - gardeniq

check-json:
  name: Check Json
  description: checks json files for parseable syntax.
  entry: check-json
  language: system

end-of-file-fixer:
  name: Fix End of Files
  description: ensures that a file is either empty, or ends with one newline.
  entry: end-of-file-fixer
  language: system
  stages:
  - pre-commit
  - pre-push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

isort:
  name: isort
  entry: isort
  language: system

trailing-whitespace:
  name: Trim Trailing Whitespace
  description: trims trailing whitespace, except for markdown files.
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - pre-commit
  - pre-push
  - manual
  args:
  - --markdown-linebreak-ext=md

(TK-41)(feature) - Add StatusSeeder
  gardeniq/base/fixtures/seeders/__init__.py
  gardeniq/base/fixtures/seeders/base.py
  gardeniq/base/fixtures/seeders/status.py
  gardeniq/base/fixtures/sources/status.json
  gardeniq/base/tests/test_commands.py
  gardeniq/base/tests/test_seeders.py
  gardeniq/orderlg/fixtures/seeders/argument.py
  gardeniq/orderlg/fixtures/seeders/order.py
Due: black, check-json, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-41)(feature) - Add tests for version ordering, validation, and API functions
  gardeniq/base/tests/test_versions.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-41)(feature) - Implement firmware update tracking in Device model and USB handler
  gardeniq/hardware/migrations/0001_initial.py
  gardeniq/hardware/models.py
  gardeniq/hardware/protocols/usb/handler.py
  gardeniq/settings/project/status.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-41)(feature) - Oups missing migrations
  gardeniq/base/migrations/0001_initial.py
  gardeniq/orderlg/migrations/0002_alter_argument_value_type.py
Due: black, flake8

(TK-41)(feature) - Add hardware device model, API and serial port validation
  gardeniq/base/serializers/mixins.py
  gardeniq/hardware/api_urls.py
  gardeniq/hardware/migrations/0001_initial.py
  gardeniq/hardware/models.py
  gardeniq/hardware/serializers/__init__.py
  gardeniq/hardware/serializers/device.py
  gardeniq/hardware/tests/__init__.py
  gardeniq/hardware/tests/tests_serializers/__init__.py
  gardeniq/hardware/tests/tests_serializers/test_device.py
  gardeniq/hardware/tests/tests_views/__init__.py
  gardeniq/hardware/tests/tests_views/test_device.py
  gardeniq/hardware/views.py
  gardeniq/settings/project/cards.py
  gardeniq/urls.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-41)(feature) - Create usb protocol. Parser and handler
  .env.example
  Pipfile
  Pipfile.lock
  docker/prod/.env.example
  gardeniq/__version__.py
  gardeniq/base/utils/__init__.py
  gardeniq/base/utils/enums.py
  gardeniq/hardware/protocols/__init__.py
  gardeniq/hardware/protocols/errors.py
  gardeniq/hardware/protocols/frame.py
  gardeniq/hardware/protocols/settings.py
  gardeniq/hardware/protocols/usb/__init__.py
  gardeniq/hardware/protocols/usb/handler.py
  gardeniq/hardware/protocols/usb/parser.py
  gardeniq/orderlg/models.py
  gardeniq/orderlg/serializers/arguments.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-41)(feature) - Add new test to FrameParser
  gardeniq/hardware/tests/tests_protocols/tests_parsers/__init__.py
  gardeniq/hardware/tests/tests_protocols/tests_parsers/test_frame_parser.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-41)(feature) - Add GardenIQ firmware repository configuration variable
  .env.example
  docker/dev/.env.example
  docker/prod/.env.example
Due: end-of-file-fixer, trailing-whitespace

(TK-41)(feature) - Clarify module exports with __all__ and explicit imports
  gardeniq/base/api_urls.py
  gardeniq/hardware/api_urls.py
  gardeniq/orderlg/api_urls.py
  gardeniq/settings/base.py
  gardeniq/settings/project/cards.py
  gardeniq/settings/project/status.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-41)(feature) - Add new tests for Device model
  gardeniq/hardware/tests.py
  gardeniq/hardware/tests/tests_models/__init__.py
  gardeniq/hardware/tests/tests_models/test_device.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-41)(feature) - Add frame protocol unit tests
  gardeniq/hardware/tests/tests_protocols/__init__.py
  gardeniq/hardware/tests/tests_protocols/test_frame.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-41)(feature) - Update dependencies
  Pipfile.lock
  requirements.txt
  requirements_dev.txt
Due: end-of-file-fixer, trailing-whitespace

(TK-41)(feature) - Add version comparison class and firmware version helpers
  gardeniq/__version__.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-41)(feature) - Add new Status model views and serializers
  gardeniq/base/api_urls.py
  gardeniq/base/models/__init__.py
  gardeniq/base/models/mixins.py
  gardeniq/base/models/status.py
  gardeniq/base/serializers/__init__.py
  gardeniq/base/serializers/mixins.py
  gardeniq/base/serializers/status.py
  gardeniq/base/views/__init__.py
  gardeniq/base/views/status.py
  gardeniq/urls.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-41)(feature) - Refactor frame tests into class-based structure for clarity
  gardeniq/hardware/tests/tests_protocols/test_frame.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-41)(feature) - Update github CI to add new vars env
  .github/workflows/ci.yml
Due: end-of-file-fixer, trailing-whitespace

(TK-41)(feature) - Add tests for Status model
  gardeniq/base/serializers/status.py
  gardeniq/base/tests/tests_serializers/__init__.py
  gardeniq/base/tests/tests_serializers/test_status.py
  gardeniq/base/tests/tests_views/__init__.py
  gardeniq/base/tests/tests_views/test_status.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-41)(feature) - Update test to add new need_upgrade Device field
  gardeniq/hardware/serializers/device.py
  gardeniq/hardware/tests/tests_serializers/test_device.py
  gardeniq/hardware/tests/tests_views/test_device.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-47)(enh) - Update pre-commit-config and github CI to fix black hook
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: end-of-file-fixer, trailing-whitespace

(TK-47)(enh) - Refacto serializers and models
  gardeniq/base/api_urls.py
  gardeniq/base/fixtures/seeders/base.py
  gardeniq/base/routers.py
  gardeniq/base/serializers/bases.py
  gardeniq/base/serializers/mixins.py
  gardeniq/base/serializers/status.py
  gardeniq/base/views/base.py
  gardeniq/hardware/protocols/errors.py
  gardeniq/hardware/protocols/frame.py
  gardeniq/orderlg/models/__init__.py
  gardeniq/orderlg/models/argument.py
  gardeniq/orderlg/models/order.py
  gardeniq/orderlg/serializers/__init__.py
  gardeniq/orderlg/serializers/arguments.py
  gardeniq/orderlg/serializers/order.py
  gardeniq/orderlg/views.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-47)(enh) - Add new tests for models and fix many tests serializer
  gardeniq/base/tests/test_commands.py
  gardeniq/base/tests/tests_models/__init__.py
  gardeniq/base/tests/tests_models/test_status.py
  gardeniq/base/utils/tests.py
  gardeniq/orderlg/tests/tests_models/__init__.py
  gardeniq/orderlg/tests/tests_models/test_argument.py
  gardeniq/orderlg/tests/tests_models/test_order.py
  gardeniq/orderlg/tests/tests_serializers/__init__.py
  gardeniq/orderlg/tests/tests_serializers/test_order.py
  gardeniq/orderlg/tests/tests_views/test_orders.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-47)(enh) - Add all models in django admin site
  gardeniq/base/admin.py
  gardeniq/base/models/status.py
  gardeniq/hardware/admin.py
  gardeniq/hardware/models.py
  gardeniq/orderlg/admin.py
  gardeniq/orderlg/models/argument.py
  gardeniq/orderlg/models/order.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

Change black check path in CI workflow
  .github/workflows/ci.yml
Due: end-of-file-fixer, trailing-whitespace

(TK-46)(feature) - Add new LG_INIT frame type to USB protocol
  gardeniq/hardware/protocols/frame.py
  gardeniq/hardware/protocols/usb/handler.py
  gardeniq/hardware/protocols/usb/parser.py
  gardeniq/orderlg/models/argument.py
  gardeniq/orderlg/models/order.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-46)(feature) - (fix) Update and fix tests
  gardeniq/hardware/protocols/frame.py
  gardeniq/hardware/protocols/settings.py
  gardeniq/hardware/protocols/usb/parser.py
  gardeniq/hardware/tests/tests_protocols/test_frame.py
  gardeniq/hardware/tests/tests_protocols/tests_parsers/test_frame_parser.py
  gardeniq/orderlg/models/argument.py
  gardeniq/orderlg/models/order.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-38) - (TK-38)(feature) - Add the user management module with serializers and CRUD endpoints
  gardeniq/base/serializers/bases.py
  gardeniq/settings/django/apps.py
  gardeniq/settings/django/auth.py
  gardeniq/urls.py
  gardeniq/users/__init__.py
  gardeniq/users/admin.py
  gardeniq/users/api_urls.py
  gardeniq/users/apps.py
  gardeniq/users/migrations/0001_initial.py
  gardeniq/users/migrations/__init__.py
  gardeniq/users/models.py
  gardeniq/users/serializers/__init__.py
  gardeniq/users/serializers/groups.py
  gardeniq/users/serializers/permissions.py
  gardeniq/users/serializers/users.py
  gardeniq/users/tests/__init__.py
  gardeniq/users/tests/tests_serializers/test_groups.py
  gardeniq/users/tests/tests_serializers/test_permissions.py
  gardeniq/users/tests/tests_serializers/test_users.py
  gardeniq/users/tests/tests_views/__init__.py
  gardeniq/users/tests/tests_views/test_users.py
  gardeniq/users/views.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-38) - (TK-38)(feature) - Add tzdata package to Pipfile and update Pipfile.lock
  Pipfile
  Pipfile.lock
Due: end-of-file-fixer, trailing-whitespace

(TK-38) - (TK-38)(refactor) - Convert views.py to views/ directory structure
  gardeniq/users/views/__init__.py
  gardeniq/users/views/users.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-38) - (docs) Add documentation on authentication with Knox
  docs/AUTHENTICATION.md
Due: end-of-file-fixer, trailing-whitespace

(TK-38) - (feauture) Implement Knox authentication with custom LoginView and user profile retrieval
  Pipfile
  Pipfile.lock
  gardeniq/settings/base.py
  gardeniq/settings/django/apps.py
  gardeniq/settings/third_party/knox.py
  gardeniq/settings/third_party/rest_framework.py
  gardeniq/users/api_urls.py
  gardeniq/users/serializers/__init__.py
  gardeniq/users/serializers/users.py
  gardeniq/users/tests/tests_serializers/test_users.py
  gardeniq/users/tests/tests_views/test_auth.py
  gardeniq/users/tests/tests_views/test_users.py
  gardeniq/users/views/__init__.py
  gardeniq/users/views/auth.py
  gardeniq/users/views/users.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-38) - (feature) - Refactor tests to use ViewSetTestMixin and consolidate user-related fixtures
  gardeniq/base/utils/tests.py
  gardeniq/users/tests/tests_serializers/test_users.py
  gardeniq/users/tests/tests_views/test_auth.py
  gardeniq/users/tests/tests_views/test_users.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-38) - (feature) - Update permissions for /me/ endpoint to allow access for authenticated users
  gardeniq/users/views/users.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

(TK-38) - (feature) - Update tests to use authenticated client for argument and order APIs
  gardeniq/orderlg/tests/tests_views/test_arguments.py
  gardeniq/orderlg/tests/tests_views/test_orders.py
Due: black, end-of-file-fixer, flake8, isort, trailing-whitespace

Path conditions:
  black: any of: \.py$
  check-json: any of: \.json$
  end-of-file-fixer: any file but: ^.*/migrations/.*$
  flake8: any of: \.py$
  isort: any of: \.py$, but not: ^.*/migrations/.*$
  trailing-whitespace: any file but: ^.*/migrations/.*$
